@charset "UTF-8";

body {
  font-family: 'Noto Sans JP', sans-serif;
  color:black


}

/* header
------------------------------ */
#header {
  width: 100%;
  background-color:#fff;
}
#header .wrapper {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

#header p {
  float: left;
  margin: 22px 0 0;
  font-size: 1.4rem;
  font-weight: 700;
}

#header ul {
  float: right;
  margin: 28px 0;
  font-size: 0.9rem;
  font-weight: 600;
}
#header ul li {
  list-style: none;
  display: inline-block;  
  margin-right: 40px;
}
.btn{
  text-decoration: none;
}
.liquor{
  list-style-type: none;
}
a.btn-border {
  border: 2px solid #000;
  color:black;
  border-radius: 0;
  background: #fff;
  text-decoration: none;
}
a.btn-border:hover {
  color: #fff;
  background: #000;

}

#header ul li:last-child {
  margin-right: 0;
}
#header form{
    float: right;
    margin-right: auto;
}

.wrapper {
  position: relative;

}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 3%;
  left: 1%;
}
button{
  background-color:#fff;
  border: 0;
  
}
.img_02 {
  position: absolute;
  margin-top: 0px; /* 上方向にネガティブマージンを取る */
  opacity: .4;        /*※解説用にかぶっているところをわかりやすくしているだけ*/
}

.btn-flat-simple {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color:saddlebrown;
  background: #ECECEC;
  transition: .4s;
}

.btn-flat-simple:hover {
  background:darkred;
  color: white;
}





footer{

  width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    
  height: 150px;

  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
  margin-bottom: -800px;
}
.login{
  margin-bottom: -450px;
}

.name{
  font-size: 120%;
}
.price{
  font-size: 140%;
  text-align: right;
}
.ml{
  font-size: 80%;
}
.strong{
  font-size: 80%;
}
.detail{
  font-size: 90%;
}
.total{
  font-size: 160%;
  font-family: sans-serif;
}
.name{
  font-size: 60%;
}

.total_price{
  margin-left: auto;
  margin-right: 50px;
  font-family: "ヒラギノ角ゴ ProN W3";
}

.total_botton{
  margin-left: auto;
  margin-right: 50px;
}
qgw-ozco-znb





/*==================================================
スライダーのためのcss
===================================*/
.slider {
  position:relative;
	z-index: 1;
	/*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
	height: 100vh;/*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}
/*　背景画像設定　*/

.slider-item01 {
    background:url(../image/top/F5A41204-C4E6-462C-95D3-9A8ABB7BDF06.jpeg);
    width: 50;
    height: 50;
}

.slider-item02 {
    background:url(../image/top/821F0BC9-FE95-4EE0-A3CD-E774B1407681.jpeg);
    width: 50;
    height: 50;
}

.slider-item03 {
    background:url(../image/top/263E14DA-DC4E-46AC-8DB7-15B318D2E71B.jpeg);
    width: 50;
    height: 50;
}
.slider-item04 {
  background:url(../image/top/3DEFE51E-E2BA-489D-B6A1-B87DE1296865.jpeg);
  width: 50;
  height: 50;
}

.slider-item05 {
  background:url(../image/top/2A53A951-7089-4F96-86B3-70CF1D567B38.jpeg);
  width: 50;
  height: 50;
}

.slider-item06 {
  background:url(../image/top/3303DA45-4D42-4027-92B4-DB1BD47775CA.jpeg);
  width: 50;
  height: 50;
}

.slider-item {
    width: 100%;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
    height:100vh;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
    background-repeat: no-repeat;/*背景画像をリピートしない*/
    background-position: center;/*背景画像の位置を中央に*/
    background-size: cover;/*背景画像が.slider-item全体を覆い表示*/
}

/*矢印の設定*/

.slick-prev, 
.slick-next {
    position: absolute;
	z-index: 3;
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #fff;/*矢印の色*/
    border-right: 2px solid #fff;/*矢印の色*/
    height: 25px;
    width: 25px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left:2.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right:2.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
	position: relative;
	z-index: 3;
    text-align:center;
	margin:-50px 0 0 0;/*ドットの位置*/
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#fff;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}

