<DOCTYPE html>
    <html>
        <head>
            <title>マイページ</title>
            <meta charset="UTF-8">
            <link rel="stylesheet" type="text/css" href="/CSS/forLogin.css">
            <link rel="stylesheet" type="text/css" href="/CSS/list.css"> 


            <header id="header">
                <div class="img_02"><img src="/image/top/header.jpeg" width="1300" height="150"></div>
                <div class="wrapper">
                  <p class="logo"><a href="/LiquorList/top"><img src="/image/アイコン６.png" width="300" height="80"></a></p>
              
                  <nav>
                    <ul>
                      <li></li>
              
                      <li><a href="/LiquorList/list">商品一覧</a></li>
                      <li><a href="/LiquorList/cart"><img src="/image/カート.png" width="30" height="30"></a></li>
                      <li><a href="/LiquorList/favorite"><img src="/image/お気に入り.png" width="30" height="30"></a></li>
                      <li><a href="/LiquorList/myPageDisplay"><img src="/image/my.png " width="30" height="30"></a></li>
                      <li><a href="/LiquorList/loginDisplay">ログイン</a></li>
                    </ul>
                  </nav>
              
        
                  </div>
                </header>
            <body>
                <h1>　</h1>
                <h1>---- My Page ----</h1>
                <p>現在登録されている情報</p>
                <table border="1">
                    <tr>
                        <td><p>会員ID</p></td>
                        <td th:text="${customer_id}">会員IDの表示エラー</td>
                    </tr>
                    <tr>
                        <td><p>名前</p></td>
                        <td th:text="${customer_name}">名前の表示エラー</td>
                    </tr>
                    <tr>
                        <td><p>メールアドレス</p></td>
                        <td th:text="${mailaddress}">メールアドレスの表示エラー</td></td>
                    </tr>
                </table>
                <form action="/LiquorList/logout" th:action="@{'/LiquorList/logout'}" method="post">
                    <p><input type="submit" name="botton" value="ログアウト"></p>
                </form>
                <p>
                    <p><a th:href="@{'/LiquorList/editDisplay'}">登録情報変更</a></p>
                    <p><a th:href="@{'/LiquorList/history'}">購入履歴</a></p>
                    <p><a th:href="@{'/LiquorList/topForTest'}">トップへ戻る</a></p>
                </p>
            </body>
        </head>
    </html>
    
    
    